.main-page{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.schedule-grid{
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: 12% repeat(25, 1fr);
   height: 80%;
   width: 80%;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
}

.new_activity{
   display: flex;
   flex-direction: column;
}

.flex-baseline{
   display: flex;
   justify-content: baseline;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
}
.stamp{
   position: absolute;
   left: 1%;
   top: 1%;
   font-style: italic;
}


.class-tile{
   min-width: 50%;
   position: relative;
}

.header{
   grid-row: 1;
   grid-column: 3/7;
   text-align: center;
}

.new-class{
   width: 45vw;
   background-color: white;
   height: 100%;
   border-color: black;
   font-size: 2.6vh;
}




.class-title{
   font-size: 1.5vh;
}

.small-text{
   font-size: 70%;
}
