.main-page{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.schedule-grid{
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: 12% repeat(25, 1fr);
   height: 80%;
   width: 80%;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
}

.small-text{
   font-size: 1.5vh;
}

.class-tile{
   min-width: 50%;
   position: relative;
}

.header{
   grid-row: 1;
   grid-column: 3/7;
   text-align: center;
}

.new-class{
   width: 100%;
   background-color: white;
   height: 100%;
   border-color: black;
}
